* {
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
}

#main p {
    font-size: 1.2em;
}

.card img {
    width: calc(20vh);
    height: 30vh;
}

#request {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

#request > div {
    width: 70%;
    height: 70%;
    border: solid 2px;
    background: white;
}

#player {
    border-right: solid 1px;
    width: 49%;
}

#banker {
    border-left: solid 1px;
    width: 49%;
}
